:root {
  --color-palette-0: rgba(140,164,92,0.5);
  --color-palette-1: rgba(251,235,227,1);
  --color-palette-1-half: rgba(229,219,202,0.95);
  --color-palette-2: rgba(22,45,21,1);
  --color-palette-3: rgba(140,164,92,1);
  --color-palette-4: rgba(250,204,126,1);
}

@font-face {
    font-family: "Texgyrebonum";
    src: url("/fonts/texgyrebonum-bold.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("/fonts/Montserrat-VariableFont_wght.ttf") format("opentype");
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/src#font_formats */
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html {
    background-color: white;
    font-family: 'Texgyrebonum';
}

body {
    font-family: 'Montserrat';
    margin: 0 auto;
    width: 100%;
    max-width: 1500px;
    line-height: 1.5;
    color: var(--color-palette-2);
}

footer {
    background-color: var(--color-palette-4);
    color: var(--color-palette-2);
}

* {
    box-sizing: border-box;
}

h1 {
    font-family: 'Texgyrebonum';
    margin: 1rem 0;
    font-size: calc(2vw + 20px);
    text-align: center;
}

h2 {
    margin: 1rem 0;
    font-size: calc(1.4vw + 10px);
    text-align: center;
}

p {
    text-align: left;
}

img {
    width: 100%;
    height: 100%;
}

/* class styles */

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}


.svg-bg-1 {
    background-image: url("../assets/vector_assets/Website Elements-12.svg");
    aspect-ratio: 1087 / 645;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.top-box {
    background-color: var(--color-palette-1);
    padding: 30px;
}

.middle-box {
    background-color: var(--color-palette-3);
    height: 800px;
}

.bottom-box {
    height: 700px;
    background-color: var(--color-palette-1);
    padding: 30px;
}

.logo {
    border-radius: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.logo-size-lg {
    width: calc(8vw + 30px);
    height: calc(8vw + 30px);
}

.logo-size-sm {
    width: calc(4vw + 30px);
    height: calc(4vw + 30px);
}

.color-match-1 {
    /*color: var(--color-palette-2);
    background-color: var(--color-palette-4);*/
}

.color-match-2 {
    /*color: var(--color-palette-1);
    background-color: var(--color-palette-2);*/
}

.color-match-3 {
    color: var(--color-palette-2);
    background-color: var(--color-palette-1);
}

.footer-box {
    padding: 4vh 0 0 0;
}

.footer-h1 {
    font-size: calc(2vw + 10px);
}

.footer-h2 {
    font-size: calc(1vw + 10px);
}

.container {
    position: relative;
    height: auto;
    min-height: 100% !important;
    /*position: relative;
    height: 100%;*/
}

.box {
    position: absolute;
}

.innerbox {
    line-height: 30px;
    font-size: 28px;
    width: 350px;
    margin-top: 180px;
    margin-left: 90px;
}

.infont {
    z-index: 1;
}

.behind {
    z-index: 2;
}

.left-innerbox {
    width: 500px;
    height: 600px;
    margin-left: 130px;
}

.left-innerbox-bottom {
    width: 350px;
    margin-top: 60px;
    margin-left: 50px;
    aspect-ratio: 4480 / 6720;
}

.right-innerbox {
    margin-left: 500px;
    width: 1000px;
    margin-top: 100px;
    aspect-ratio: 16 / 9; /* or 1 / 1 for square */
    overflow: hidden;
}

.right-innerbox-bottom {
    font-size: 24.5px;
    margin-left: 500px;
    width: 900px;
    height: 700px;
    margin-top: 60px;
    aspect-ratio: 16 / 9; /* or 1 / 1 for square */
    overflow: hidden;
}

.border-radius {
    border-radius: 200px 200px 0 0;
}

/* nav styles */

.nav-links {
    /* top: 5rem;
    left: 48px;
    background-color:var(--color-palette-3);
    display: flex;
    margin: 0; */
    display: flex;
    background-color: var(--color-palette-1);
}

.nav-links a {
    display: block;
    text-align: center;
    padding: 20px;
    border-radius: 40px 40px 0px 0px;
    margin: 0 75px 0 75px;
    text-decoration: none;
    font-size: calc(1.5vw + 10px);
    font-weight: bold;
    text-transform: uppercase;
    flex: 1;
    color: var(--color-palette-2);
}

.active {
    font-weight: bold;
    color: var(--color-palette-1) !important;
    background-color: var(--color-palette-3) !important;
}

.nav-links a:hover,
.nav-links a:focus {
    background-color:var(--color-palette-2);
    color: var(--color-palette-1);
}



.expanded {
    display: unset;
}


@media screen and (max-width: 1400px) {
    body {
        width: 100%;
        max-width: 100vw;
        margin-left: 0vw;
        margin-right: 0vw;
    }

    .left-innerbox {
        max-width: 40vw;
    }

    .right-innerbox {
        width: 45vw;
        margin: 100px 150px 0px 400px;
    }
}

@media screen and (max-width: 1025px) {
    .middle-box {
        height: 45vh;
    }
    .left-innerbox {
        max-width: 40vw;
        max-height: 40vw;
    }
    .right-innerbox {
        max-width: 70vw;
        margin-left: 30vw;
    }
}

@media screen and (max-width: 600px) {
    .middle-box {
        height: 30vh;
    }
    .left-innerbox {
        max-width: 30vw;
        max-height: 30vw;
    }
    .right-innerbox {
        width: 100%;
        max-width: 84vw;
        margin-left: 8vw;
        z-index: 2;
        aspect-ratio: 16 / 9; /* or 1 / 1 for square */
        overflow: hidden;
    }

}