:root {
  --color-palette-0: rgba(140,164,92,0.5);
  --color-palette-1: rgba(251,235,227,1);
  --color-palette-1-half: rgba(229,219,202,0.95);
  --color-palette-2: rgba(22,45,21,1);
  --color-palette-3: rgba(140,164,92,1);
  --color-palette-4: rgba(250,204,126,1);
}

@font-face {
    font-family: "Texgyrebonum";
    src: url("/fonts/texgyrebonum-bold.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("/fonts/Montserrat-VariableFont_wght.ttf") format("opentype");
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/src#font_formats */
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html {
    background-color: white;
    font-family: 'Texgyrebonum';
}

body {
    font-family: 'Montserrat';
    margin: 0 auto;
    width: 100%;
    max-width: 1500px;
    line-height: 1.5;
    color: var(--color-palette-2);
}

footer {
    background-color: var(--color-palette-4);
    color: var(--color-palette-2);
}

* {
    box-sizing: border-box;
}

h1 {
    font-family: 'Texgyrebonum';
    margin: -10px;
    font-size: 68px;
    text-align: center;
}

h2 {
    font-family: 'Montserrat';
    margin: 10px;
    font-size: 40px;
    text-align: center;
}

p {
    text-align: left;
}

img {
    width: 100%;
    height: 100%;
}

/* IDs */
#about-me-h2 {
    text-align: left;
    margin-bottom: -20px;
    font-weight: bold;
}

#how-to-book-h2 {
    font-size: 80px;
}

#contact-text {
    font-family: 'Montserrat';
    font-size: 30px;
    text-align: center;
}

/* class styles */

.header {
    background-color: var(--color-palette-1);
    padding: 50px 30px 30px 30px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page1-top-left-content{
    color: red;
}

.content-bubble {
    position: absolute;
    width: 600px;
    margin-left: 72px;
}

.bubble-text {
    color: var(--color-palette-1);
    font-size: 32px;
    font-weight: bold;
}

.bubble-color {
    fill: var(--color-palette-1);
}

.content-section-top {
    background-color: var(--color-palette-3);
    height: 700px;
}

.content-seperator {
    margin-top: 0px;
    position: absolute;
    width: 100%;
}

.seperator-color {
    fill: var(--color-palette-1);
}

.logo {
    border-radius: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.logo-size-lg {
    width: 150px;
    height: 150px;
}

.logo-size-sm {
    width: 120px;
    height: 120px;
}

.footer-box {
    padding: 4vh 0 0 0;
}

.footer-h1 {
    font-size: calc(2vw + 10px);
}

.footer-h2 {
    font-size: calc(1vw + 10px);
}

.container {
    position: relative;
    height: auto;
    min-height: 100% !important;
    /*position: relative;
    height: 100%;*/
}

.innerbox {
    line-height: 30px;
    font-size: 28px;
    width: 350px;
    margin-top: 180px;
    margin-left: 90px;
}

.box-divider {
    margin-top: -80px;
    height: 450px;
    background: var(--color-palette-3);
    background-image: url("../assets/vector_assets/Website Elements-05.svg");
    background-size: 100%;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
}

.infont {
    position: absolute;
    z-index: 1;
}

.behind {
    position: absolute;
    z-index: 2;
}

.left-innerbox {
    width: 500px;
    height: 600px;
    margin-left: 130px;
}

.right-innerbox {
    margin-left: 500px;
    width: 1000px;
    margin-top: 100px;
    aspect-ratio: 16 / 9; /* or 1 / 1 for square */
}

.content-section-middle {
    height: 950px;
    position: relative;
    background-color: var(--color-palette-1);
}

.about-me {
    font-family: 'Montserrat';
    padding-top: 240px;
    background-color: var(--color-palette-3);
}

.about-me-image {
    width: 432px;
    margin-left: 80px;
    aspect-ratio: 4680 / 6720;
}

.about-me-content {
    font-size: 29px;
    margin-left: 560px;
    width: 850px;
    line-height: 1.3;
}

.content-section-bottom {
    padding-top: 50px;
    height: 360px;
    color: var(--color-palette-1);
    background-color: var(--color-palette-2);
}

.how-to-book {

}

.border-radius {
    border-radius: 200px 200px 0 0;
}

/* nav styles */

.nav-links {
    padding-top: 50px;
    display: flex;
    background-color: var(--color-palette-1);
}

.nav-links a {
    font-family: 'Texgyrebonum';
    display: block;
    text-align: center;
    padding: 20px;
    border-radius: 40px 40px 0px 0px;
    margin-left: 120px;
    margin-right: 120px;
    padding-top: 30px;
    padding-bottom: 50px;
    text-decoration: none;
    font-size: 36px;
    text-transform: uppercase;
    flex: 1;
    color: var(--color-palette-2);
}

.active {
    color: var(--color-palette-1) !important;
    background-color: var(--color-palette-3) !important;
}

.nav-links a:hover,
.nav-links a:focus {
    background-color:var(--color-palette-2);
    color: var(--color-palette-1);
}


.expanded {
    display: unset;
}


@media screen and (max-width: 1400px) {
    body {
        width: 500px;
    }

    .left-innerbox {
        max-width: 400px;
    }

    .right-innerbox {
        width: 300px;
        margin: 100px 150px 0px 400px;
    }
}

@media screen and (max-width: 1025px) {
    .middle-box {
        height: 400px;
    }
    .left-innerbox {
        max-width: 400px;
        max-height: 400px;
    }
    .right-innerbox {
        max-width: 700px;
        margin-left: 300px;
    }
}

@media screen and (max-width: 600px) {
    .middle-box {
        height: 300px;
    }
    .left-innerbox {
        max-width: 300px;
    }
    .right-innerbox {
        width: 100%;
        max-width: 840px;
        margin-left: 80px;
        z-index: 2;
        aspect-ratio: 16 / 9; /* or 1 / 1 for square */
    }

}