---
import { Image } from 'astro:assets';
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/global.css';
---
<BaseLayout title="Contact">
    <div class="green-bg beige-text">
      <div class="biege-bg z-10 w-full h-[400px] md:h-[650px] xl:h-[700px] items-center justify-center px-6 py-12 bg-no-repeat bg-[position:100%_100%] bg-[length:90%_auto] xl:bg-[length:50%_auto] bg-[url('../assets/vector_assets/Website-Elements-01.svg')] ">
        
        <h1 class="py-2 md:py-4 xl:py-6 text-2xl md:text-4xl xl:text-7xl text-center py-10">Submit an Enquiry</h1>

        <div class="flex flex-row gap-y-2 md:gap-x-12 w-full">
          <!-- Left Box -->
          <div class="green-text relative w-full md:w-1/2 text-gray-0 p-4 sm:p-6 md:p-8 text-[0.33rem] md:text-[0.37rem] lg:text-[1.43rem]">

              <!-- Top-left logo -->
              <h3 class="pl-[10px] text-sm md:text-2xl lg:text-3xl font-semibold">Firstname</h3>
              <div class="beige-bg w-full h-[20px] md:h-[40px] xl:h-[50px] rounded-xl xl:rounded-[100px] mb-[10px]"></div>

              <h3 class="pl-[10px] text-sm md:text-2xl lg:text-3xl font-semibold">Surname</h3>
              <div class="beige-bg w-full h-[20px] md:h-[40px] xl:h-[50px] rounded-xl xl:rounded-[100px] mb-[10px]"></div>

              <h3 class="pl-[10px] text-sm md:text-2xl lg:text-3xl font-semibold">Email</h3>
              <div class="beige-bg w-full h-[20px] md:h-[40px] xl:h-[50px] rounded-xl xl:rounded-[100px] mb-[10px]"></div>

              <h3 class="pl-[10px] text-sm md:text-2xl lg:text-3xl font-semibold">Phone</h3>
              <div class="beige-bg w-full h-[20px] md:h-[40px] xl:h-[50px] rounded-xl xl:rounded-[100px] mb-[10px]"></div>
          
          </div>

          <!-- Right Box -->
          <div class="relative w-full md:w-1/2 text-gray-0 p-4 sm:p-6 md:p-8 text-[0.33rem] md:text-[0.37rem] lg:text-[1.43rem]">

            <!-- Bottom-right logo -->
            <h3 class="green-text pl-[10px] text-sm md:text-2xl lg:text-3xl font-semibold">Enquiry</h3>
            <div class="beige-bg w-full h-[170px] md:h-[300px] xl:h-[340px] rounded-xl xl:rounded-[20px] mb-[10px]"></div>

          </div>
        </div>
      </div>
    </div>
</BaseLayout>