---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="Contact">
    <div class="middle-box">
		<h2 class="footer-h2">Submit an enquiry</h2>
        <p>User form perhaps?</p>
	</div>
</BaseLayout>