---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="Service">
    <div class="middle-box">
		<h2 class="footer-h2">What is a Speech Pathologist?</h2>
        <p>Speech pathologists help people communicate effectively and manage difficulties with eating and drinking. They are university-educated allied health professionals who work with people of all ages.</p>
        <h4>Speech pathologists assist those who experience:</h4>
        <ul>
            <li>Difficulty understanding and expressing themselves in conversations</li>
            <li>Challenges with reading, spelling, and using technology to communicate</li>
            <li>Issues with speaking clearly, finding the right words, or using a strong voice</li>
            <li>Problems with eating and drinking, including swallowing difficulties that affect nutrition and safety</li>
        </ul>
	</div>
</BaseLayout>
