---
import { Image } from 'astro:assets';
import Navigation from './Navigation.astro';
import CompanyLogo from '../assets/logo.svg';
import * as headings from '../texts/header.md';
import '../styles/global.css';
import '../styles/output.css';

const { pathologist, profession } = headings.frontmatter
---
<header>
  <nav>
	<!-- Branding & Logos -->
	<div class="flex-1 py-[30px] md:py-[40px] xl:py-[50px] text-center">
		<div class="flex justify-center">
			<Image src={CompanyLogo} alt="NMPathology Logo Dark Version" class="w-[100px] md:w-[120px] md:w-[160px]" />
		</div>
		<h1 class="global-header-text">{pathologist}</h1>
		<h2 class="global-sub-header-text py-[5px] md:py-[20px] pb-[25px] uppercase">{profession}</h2>
	</div>
    <Navigation />
  </nav>
</header>