---
import { Image } from 'astro:assets';
import Navigation from './Navigation.astro';
import CompanyLogo from '/public/logo.svg';
import * as headings from '../texts/header.md';
---
<header>
  <nav>
    <div class="header">
			<div class="logo-size-lg centralize">
				<Image class="" src={CompanyLogo} alt="NMPathology Logo" />
			</div>
			<h1 id="header-title">{headings.frontmatter.title}</h1>
			<h2 id="header-title">{headings.frontmatter.profession}</h2>
		</div>
    <Navigation />
  </nav>
</header>